header{
  background: #26a69a;
  color: #fff;
}
 .main{
   background: #64d8cb;
 }



#titulo{
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
.information{
  font-family: 'Sofadi One', cursive;
  text-align: justify;
  font-size: 20px;
}
.messageCipher{
  font-family: 'Glass Antiqua', cursive;
  text-align: justify;
}
#cifrar{
  display: flex;
  border-radius: 0.5em;
  width:50%;
  height:50px;
}
#descifrar{
  display: flex;
  border-radius: 0.5em;
  width:50%;
  height:50px;
}

.sectionCipher{
  overflow: scroll;
  overflow-x: auto;
  align-self: center;
}
#newTextCiphered.row2{
  display: inline;
}
#newTextDeciphered.row2{
  display: inline;
}
#textCipher{
  width:50%;
  height:10em;
  align-items: center;
}

#textValueBean{
  width:50%;
  height:10em;
  align-items: center;
}
